In [1]:
import pandas as pd
df = pd.read_csv(r"D:\Automate_Feature_Selection_Using_Python\dynamic_pricing.csv")

In [2]:
df.head()

,Number_of_Riders,Number_of_Drivers,Location_Category,Customer_Loyalty_Status,Number_of_Past_Rides,Average_Ratings,Time_of_Booking,Vehicle_Type,Expected_Ride_Duration,Historical_Cost_of_Ride
0,90,45,Urban,Silver,13,4.47,Night,Premium,90,284.257273
1,58,39,Suburban,Silver,72,4.06,Evening,Economy,43,173.874753
2,42,31,Rural,Silver,0,3.99,Afternoon,Premium,76,329.795469
3,89,28,Rural,Regular,67,4.31,Afternoon,Premium,134,470.201232
4,78,22,Rural,Regular,74,3.77,Afternoon,Economy,149,579.681422

In [7]:
from sklearn.preprocessing import LabelEncoder
categorical_tools = ["Location_Category","Customer_Loyalty_Status","Time_of_Booking","Vehicle_Type"]

In [8]:
label_encoders = {}
for col in categorical_tools:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

Training a decision tree for feature selection

In [22]:
X = df.drop(columns=["Historical_Cost_of_Ride"])
X

,Number_of_Riders,Number_of_Drivers,Location_Category,Customer_Loyalty_Status,Number_of_Past_Rides,Average_Ratings,Time_of_Booking,Vehicle_Type,Expected_Ride_Duration
0,90,45,2,2,13,4.47,3,1,90
1,58,39,1,2,72,4.06,1,0,43
2,42,31,0,2,0,3.99,0,1,76
3,89,28,0,1,67,4.31,0,1,134
4,78,22,0,1,74,3.77,0,0,149
...,...,...,...,...,...,...,...,...,...
995,33,23,2,0,24,4.21,2,1,11
996,84,29,2,1,92,4.55,2,1,94
997,44,6,1,0,80,4.13,3,1,40
998,53,27,1,1,78,3.63,3,1,58
999,78,63,0,0,14,4.21,0,0,147

In [15]:
Y = df['Historical_Cost_of_Ride']

In [20]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state=42)
model.fit(X, Y)

feature_importances = pd.DataFrame({"feature":X.columns,"importance":model.feature_importances_})
feature_importances = feature_importances.sort_values(by='importance', ascending=False)

In [21]:
feature_importances

                   feature  importance
8   Expected_Ride_Duration    0.878806
5          Average_Ratings    0.033801
4     Number_of_Past_Rides    0.021665
1        Number_of_Drivers    0.017997
0         Number_of_Riders    0.016433
7             Vehicle_Type    0.013238
2        Location_Category    0.009436
6          Time_of_Booking    0.005848
3  Customer_Loyalty_Status    0.002776

Automate Feature Selection

In [25]:
# define threshold
threshold = 0.01  # keep features with importance > 1%
selected_features = feature_importances[feature_importances['importance'] > threshold]['feature'].tolist()

# filter dataset
# filter dataset
X_selected = X[selected_features]

Now, X_selected contains only the most relevant features for training the final model. Here are the best features we found for selection:

In [27]:
print(X_selected.columns)

Index(['Expected_Ride_Duration', 'Average_Ratings', 'Number_of_Past_Rides',
       'Number_of_Drivers', 'Number_of_Riders', 'Vehicle_Type'],
      dtype='object')